@use "../colours";

$opacity: 0.2;

#messages {
  list-style: none;
  padding: 0;
  margin: 1em;
  li {
    border: 2px solid colours.$black;
    background-color: rgba(colours.$black, $opacity);
    padding: 1em;

    @each $messageClass,
      $color
        in (
          "success": colours.$green,
          "warning": colours.$red,
          "error": colours.$red,
          "info": colours.$black,
          "debug": colours.$blue
        )
    {
      &.#{$messageClass} {
        border-color: $color;
        background-color: rgba($color, $opacity);
      }
    }
  }
}
